/.gradle/
/.idea/
/app/build/generated/ap_generated_sources/debug/out/
/app/build/generated/source/buildConfig/debug/
/build/
/app/sampledata/
/app/build/generated/res/resValues/debug/
/app/sampledata/
/app/build/generated/source/buildConfig/debug/
/app/build/generated/ap_generated_sources/debug/out/
/app/build/generated/source/kaptKotlin/debug/
/app/build/generated/source/kapt/debug/
/build/

# Project exclude paths
/app/build/
/local.properties
